shareddefaults.xml
/preferences
cwsw_board.language.settings.xml
cwsw_arch.language.settings.xml
/D2503_NARdra.language.settings.xml
/cwsw_evqueue.language.settings.xml
cwsw_dio.language.settings.xml
/cwsw_clock.language.settings.xml
/cwsw_dio_demo.language.settings.xml
/cwsw_lib.language.settings.xml
/cwsw_sme.language.settings.xml
