# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.bak
*.old

cwsw_clock.7z
cwsw_extensions.7z
components/cwsw_clock_prj/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
components/cwsw_lib_prj/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
components/cwsw_smeng_c_prj/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
se_ut_c/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
components/cwsw_clock_prj/cvibuild.cwsw_clock/build.ini
components/cwsw_smeng_c_prj/doc/SM_Engine_Zimminess/Home.txt.bak~
