# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.bak
*.old
*.bak~

cwsw_clock.7z
cwsw_extensions.7z
components/cwsw_clock_prj/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
components/cwsw_lib_prj/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
components/cwsw_smeng_c_prj/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
se_ut_c/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
components/cwsw_clock_prj/cvibuild.cwsw_clock/build.ini
components/cwsw_clock_prj/arch/PIC32MZ2048EFM/framework_mhc
/components/cwsw_arch_prj/doxygen_log.txt
components/cwsw_arch_prj/xfr.xml
components/wsCwsw_Lib_MPC57xx_W7/.metadata/.plugins/org.eclipse.cdt.codan.ui/dialog_settings.xml
components/wsCwsw_Lib_MPC57xx_W7/.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
components/wsCwsw_Lib_MPC57xx_W7/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
components/wsCwsw_Lib_MPC57xx_W7/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
components/wsCwsw_Lib_MPC57xx_W7/.metadata/.plugins/org.eclipse.core.resources/.root/8.tree
components/cwsw_evqueue_prj/doxygen_log.txt
