# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.bak
*.old
*.bak~

cwsw_clock.7z
cwsw_extensions.7z
/Debug_Win_MinGW/
/Debug/
/Debug_Linux_GCC/
/doxygen/
/doxygen_logtxt
/doxygen_log.txt

/Debug_XC_MPC57xx_DevKit/
